services:
  backend:
    restart: unless-stopped
    image: ${DOCKERHUB_USERNAME:-nicorvl}/ric-backend:latest
    expose:
      - ${BACKEND_PORT}
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
      - PORT=${BACKEND_PORT}
      - METABASE_SITE_URL=${METABASE_SITE_URL}
      - METABASE_SECRET_KEY=${METABASE_SECRET_KEY}
      - METABASE_DASHBOARD_ID=${METABASE_DASHBOARD_ID}
    networks:
      - web

  frontend:
    restart: unless-stopped
    image: ${DOCKERHUB_USERNAME:-nicorvl}/ric-frontend:latest
    expose:
      - ${FRONTEND_PORT}
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    depends_on:
      - backend
    networks:
      - web

  nginx:
    image: ${DOCKERHUB_USERNAME:-nicorvl}/ric-nginx:latest
    build:
      context: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - frontend
      - backend
    networks:
      - web

  certbot:
    image: ${DOCKERHUB_USERNAME:-nicorvl}/ric-certbot:latest
    build:
      context: ./certbot
    restart: unless-stopped
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - ./certbot/logs:/var/log/letsencrypt
    depends_on:
      - nginx
    networks:
      - web

volumes:
  db-data:

networks:
  web:
    driver: bridge
