# --- Airbyte ---
AIRBYTE_HOST=localhost
AIRBYTE_PORT=8000
AIRBYTE_URL=http://localhost:8000


# --- Postgres ---
# Set these values to the environment you target (test or prod)
POSTGRES_HOST=<db-host>
POSTGRES_PORT=<db-port>
POSTGRES_DB=reveler_inegalites_cinema
POSTGRES_USER=pipeline_user
POSTGRES_PASSWORD=<secret>
POSTGRES_SSLMODE=disable
AB_RAW_SCHEMA=ab_raw
DBT_SCHEMA=marts


# --- dbt ---
DBT_THREADS=4
