name: pre-commit

on:
  pull_request:
  push:
    branches: [main, develop]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.13
      uses: actions/setup-python@v4
      with:
        python-version: 3.13

    - name: Install poetry
      run: |
        python -m pip install poetry
        poetry install
    - name: Install Poetry Export Plugin
      run: |
        export PATH="$HOME/.local/bin:$PATH"
        poetry self add poetry-plugin-export
    - name: Install pip-audit
      run: python -m pip install pip-audit
    - name: Export requirements from poetry
      run: poetry export -f requirements.txt --without-hashes -o requirements.txt
    - name: Run pip-audit
      run: pip-audit -r requirements.txt
    - name: set PY
      run: echo "PY=$(python -c 'import hashlib, sys;print(hashlib.sha256(sys.version.encode()+sys.executable.encode()).hexdigest())')" >> $GITHUB_ENV
    - uses: actions/cache@v3
      with:
        path: ~/.cache/pre-commit
        key: pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}
    - uses: pre-commit/action@v3.0.0